--
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
 table {
   border: none;
   border-collapse: collapse;
   border-spacing: 30px;
 }
 th, td {
  padding: 15px;
}
}

#footer {
   position:absolute;                 
   bottom:0;                         
}

#sponsor-table {
   margin: 0 auto;
}
